<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zundu.notifysource">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="测试源"
        android:icon="@drawable/ic_launcher"
        android:debuggable="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".NotifySourceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zundu.notifysource.POST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
